<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
  <h2>To Do List</h2>
  <div id="app">
    <p>
      <input v-model="newTodo">
      <button @click="addTodo">Add ToDo</button>
    </p>
    <ul>
      <li v-for="(todo, index) in todos">
        <span>{{ todo }}</span> 
        <button @click="removeTodo(index)">Remove</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
